<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add book</h1>
	<div>
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
		  	<label for="auth">Author</label>
			<input type="text" id="auth" th:field="*{Author}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="tit">Title</label>
			<input type="text" id="tit" th:field="*{Title}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="isbn">ISBN</label>
			<input type="text" th:field="*{Isbn}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="year">Year</label>
			<input type="text" th:field="*{Year}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>